
__pycache__/data_loader.cpython-38.pyc
.DS_Store
__pycache__/visualization.cpython-38.pyc
.idea/MLinChemFinalProject.iml
*.pyc
.idea/MLinChemFinalProject.iml
*.iml
.idea/MLinChemFinalProject.iml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
